.bottom-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.bottom-images img {
  width: 20%;
  aspect-ratio: 1/1;
  border-radius: 10%;
  padding: 5px;
  cursor: pointer;
}

.bottom-images img {
  transition: border 0.3s;
}

.bottom-images img:hover {
  background-color: #ff7e1b;
  opacity: 50%;
}
