body {
  width: 80%;
  margin: auto;
}

main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
li,
img {
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  body {
    width: unset;
  }
  main {
    height: unset;
  }

  hr {
    display: none;
  }
}
